<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">XIRYPELICULAS</h1>
        <p class="lead">Las mejores peliculas</p>
    </div>
</div>



<div class="container">
    <h1 id="list-item-1">Cartelera Populares</h1>
    <hr>

    <div class="card-columns">
        <div class="card" *ngFor="let pelicula of ps.peliculaspopulares,let i=index">
            <div class="card-body">
                <img src="http://image.tmdb.org/t/p/w500{{pelicula.poster_path}}" class="card-img-top">
                <h5 class="card-title">{{pelicula.original_title}}</h5>
                <p class="card-text">{{pelicula.overview}}</p>
                <button type="button" class="btn btn-primary btn-block" [routerLink]="['/verpelicula', i]">Mas informacion</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 id="list-item-2">Cartelera Infantiles</h1>
    <hr>

    <div class="card-columns">
        <div class="card" *ngFor="let pelicula of ps.peliculasinfantiles">
            <div class="card-body">
                <img src="http://image.tmdb.org/t/p/w500{{pelicula.poster_path}}" class="card-img-top">
                <h5 class="card-title">{{pelicula.original_title}}</h5>
                <p class="card-text">{{pelicula.overview}}</p>
            </div>
        </div>
    </div>
</div>